<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
		 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">

	<servlet>
		<servlet-name>principal</servlet-name>
		<servlet-class>com.custom.controlador.ServletPrincipal</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>principal</servlet-name>
		<url-pattern>/pessoa/*</url-pattern>
	</servlet-mapping>

</web-app>